.navbar {
    background-color: #10847e;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    margin: 10px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;

}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: rgb(229, 236, 211);
}

.search {
    float: right;
    color: whitesmoke;
    padding: 12px 75 px;
}

.navbar input {
    border: 2px;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}

.btn {
    text-align: left;
}

/* OuR Services */
.services-page-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services-page h1 {
    width: 70%;
    font-size: 40px;
    margin-left: 33vh;
    font-weight: 100;
    margin-top: 15vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2e2eb2;
}

.heading {
    text-align: center;
    margin-bottom: 10vh;
    font-size: 48px;
}

.content-1 {
    margin-top: 3vh;
    text-transform: uppercase;
    width: 80%;
    font-size: 4vw;
    margin-left: 2vw;
    font-weight: 100;
    color: #020230;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-2 {
    font-size: 2vw;
    width: 30%;
    line-height: 2;
    margin-left: -6vw;
    color: #020230;
}

.content-3 {
    display: flex;
    justify-content: space-evenly;
    gap: 1vh;
    width: 100%;
    margin-top: 10vh;
}

.container img {
    margin-top: -80%;
    margin-left: 2vh;
    width: 80px;
    height: 80px;
    border-radius: 20%;
}

.container h1 {
    display: flex;
    margin-top: -35px;
    width: 0px;
    margin-left: 2vh;
    font-size: 3vh;
    color: #020230;
}

.container span {
    display: flex;
    margin-bottom: -8vh;
    margin-left: -8vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #020230;
    width: 23vh;
}

.container2 {
    display: flex;
    gap: 9vw;
    margin-top: 6vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 6%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-block;
    position: relative;
    gap: 4vh;
    width: 310px;
    height: 306px;
    background-color: rgb(252, 247, 247);
    padding: 1vh;
}

.card:after {
    position: absolute;
    content: '';
    background: rgb(255, 253, 253);
    width: 25px;
    height: 25px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    top: 0;
    right: 0;
}

.card:before {
    position: absolute;
    content: '';
    background: rgb(255, 253, 253);
    width: 25px;
    height: 25px;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    bottom: 0;
    left: 0;
}

.container ul {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
    align-items: center;
    gap: 5vh;

}

.container li {

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 20vh;
    background-color: rgb(222, 235, 242);
}

.container li:before {
    position: absolute;
    content: '';
    background: rgb(255, 252, 252);
    width: 35px;
    height: 35px;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    bottom: 0;
    left: 0;
}

.container li::after {
    position: absolute;
    content: '';
    background: rgb(255, 252, 252);
    width: 35px;
    height: 35px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    top: 0;
    right: 0;
}

.container p {
    font-size: 3vh;
    padding-top: 4vh;
    margin-left: 40vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10%;
}

.container div {
    align-items: center;
    padding-top: 3px;
}

element.style {
    border-top-width: 27px;
    padding-top: 10vh;
}

.lunatix {
    height: 90vh;
    background-color: rgb(255, 253, 253);
}

.lunatix h1 {
    font-size: 5vh;
    margin-top: 3%;
    text-align: center;
    margin-left: 18%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2e2eb2;
    margin-bottom: 2%;
}

.lunatix-content {
    text-align: center;
    margin-left: 50%;
    font-size: 8vh;
    width: 40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #020230;
    flex-direction: column;
    margin-bottom: 5%;
}

.button1 {
    margin-left: 55%;
    width: 30vh;
    height: 30vh;
}

.btn1 {
    background: rgba(23, 9, 220, 0.92);
    display: inline-block;
    position: relative;
    padding: 15px 50px;
    font-size: 2vh;
    text-align: center;
    width: 70px;
    height: 30px;
    color: #fff;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn1:before {
    position: absolute;
    content: '';
    background: rgb(255, 253, 253);
    width: 21px;
    height: 18px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    top: 0;
    left: 0;
}

.btn1:after {
    position: absolute;
    content: '';
    background: rgb(255, 253, 253);
    width: 21px;
    height: 18px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    bottom: 0;
    right: 0;
}

.btn1:hover {
    cursor: pointer;
    background: #1E90FF;
    box-shadow: 0 0 5px #6495ED,
        0 0 20px #00BFFF,
        0 0 60px #4169E1,
        0 0 150px #0000FF;
}

.button2 {
    margin-left: 75%;
    width: 30vh;
    height: 60vh;
    margin-top: -15%;
}

.btn2 {
    background: rgba(181, 181, 197, 0.92);
    display: inline-block;
    position: relative;
    padding: 15px 50px;
    font-size: 2vh;
    text-align: center;
    width: 70px;
    height: 30px;
    color: #fff;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn2:before {
    position: absolute;
    content: '';
    background: rgb(255, 253, 253);
    width: 21px;
    height: 18px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    top: 0;
    left: 0;
}

.btn2:after {
    position: absolute;
    content: '';
    background: rgb(255, 253, 253);
    width: 21px;
    height: 18px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    bottom: 0;
    right: 0;
}

.flipcard {
    display: flex;
    justify-content: space-around;
}

.btn2:hover {
    cursor: pointer;
    background: #1E90FF;
    box-shadow: 0 0 5px #6495ED,
        0 0 20px #00BFFF,
        0 0 60px #4169E1,
}

#accordion .accordion_content {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

/*Card*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    justify-content: center;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    text-align: inline;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #7d8da7;
    color: white;
    transform: rotateY(180deg);
}

/* Our Aim*/


.title-text {
    margin-bottom: 0;
    padding-top: 83px;
    width: 470px;
    margin-top: 1px;
    font-size: 45px;
}

.first-text {
    font-size: 19px;
    color: rgb(72, 238, 138);
}

.luna-name {
    color: rgb(72, 238, 138);
}

.title-second-text {
    font-family: 'Roboto Mono', monospace;
    margin-left: 190px;
    width: 350px;
}

services-text {
    padding-top: 42px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 500px 500px;
}

.service-first-text {
    font-size: 55px;
    width: 400px;
}

.service-second-text {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
}


/*Card End */
.container {
    text-align: left;
    text-decoration: rgb(75, 104, 22);
}

.container1 {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    font-size: 20px;
    gap: 6vh;
    padding-bottom: 15px;

}

.container {
    margin-top: 34px;
}

.container1 .Col1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    padding-left: 20vh;
    padding-top: 8vh;
    gap: 6vh;
    font-size: larger;
}

.social-icons {
    display: flex;
    gap: 5vh;
    padding-left: 2vh;
    padding-bottom: 60px;
}

.social-icons p {

    color: #2e2eb2;

}

.Col1 h1 {
    color: rgb(38, 110, 95);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -10%;
}

.Col2 p {
    font-size: 4vh;
    color: #020230;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Col3 p {
    font-size: 4vh;
    color: #020230;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Col4 p {
    font-size: 4vh;
    color: #020230;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Col1 li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vh;
    color: #020230;
    width: 110%;
    margin-left: -30%;
    margin-top: -10%;
    margin-bottom: -20%;
}

.Col3 {
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
    gap: 11vh;
    width: 300px;
}

.Col4 {
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
    gap: 9vh;
    width: 300px;
}

.Col2 {
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
    gap: 8vh;
    width: 300px;
}

.Lists1 {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: left;
    margin-left: 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #020230;
    margin-top: -10%;
    font-size: 2vh;
}

.footer {
    background-color: #10847e;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: -50vh;
    gap: 3vw;
    top: 0px;
    height: 4vw;
    font-size: 14px;
    width: 100%;

    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

.foot {
    color: #fff;
    padding-left: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: -4px;
}

.container h1 {
    padding-bottom: 20vh;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}